:root{
    --font-weight: 600;
    --font-size: 36px;
}

#page{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    width: 100vw;
    justify-content: center;
}
#box-left{
    display: flex;
    flex-direction: column;
}
#box{
    display: flex;
    align-self: center;
}

img{
    display: block;
}

.panel3{
    position: relative;
}
.panel3 img, .panel3-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel3-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel3-texte p{
    margin: 0;
    text-align: center;
    padding-top: 280px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel3:hover .panel3-texte{
    opacity: 1;
}
.panel1{
    position: relative;
}
.panel1 img, .panel1-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel1-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel1-texte p{
    margin: 0;
    text-align: center;
    padding-top: 130px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel1:hover .panel1-texte{
    opacity: 1;
}
.panel2{
    position: relative;
}
.panel2 img, .panel2-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel2-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel2-texte p{
    margin: 0;
    text-align: center;
    padding-top: 130px;
    vertical-align: middle;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel2:hover .panel2-texte{
    opacity: 1;
}
.vlogs{

}
.courts-metrages{

}
.autres{

}
.projets-universitaires{

}
.projets-professionnels{

}
.projets-personnels{

}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}