:root{
    --font-weight: 600;
    --font-size: 36px;
}

#page{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    width: 100vw;
    justify-content: center;
}
#box-left{
    display: flex;
    flex-direction: column;
}
#box{
    display: flex;
    align-self: center;
}
#box-mobile{
    display: none;
}

img{
    display: block;
}

.panel3{
    position: relative;
}
.panel3 img, .panel3-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel3-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel3-texte p{
    margin: 0;
    text-align: center;
    padding-top: 280px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel3:hover .panel3-texte{
    opacity: 1;
}
.panel1{
    position: relative;
}
.panel1 img, .panel1-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel1-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel1-texte p{
    margin: 0;
    text-align: center;
    padding-top: 130px;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel1:hover .panel1-texte{
    opacity: 1;
}
.panel2{
    position: relative;
}
.panel2 img, .panel2-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.panel2-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.panel2-texte p{
    margin: 0;
    text-align: center;
    padding-top: 130px;
    vertical-align: middle;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: italic;
}
.panel2:hover .panel2-texte{
    opacity: 1;
}
.vlogs{

}
.courts-metrages{

}
.autres{

}
.projets-universitaires{

}
.projets-professionnels{

}
.projets-personnels{

}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

@media screen and (max-width: 768px){
    #box{
        display: none;
    }
    #box-mobile{
        display: block;
        max-height: 100%;
    }
    #box-mobile p{
        text-align: center;
    }
    #box-mobile p.title{
        font-size: 48px;
    }
    #box-mobile a img{
        border: 5px solid #F2F2EF;
        box-sizing: border-box;
        width: 80vw;
    }
    #page{
        position: absolute;
        bottom: 0;
        align-items: center;
        height: 80vh;
    }
    .box-mobile-content{
        position: relative;
        width: fit-content;
        height: fit-content;
    }
    .img-title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .img-title p{
        text-align: left !important;
        margin-left: 15px;
        font-weight: bold;
    }
    /* .img-title.title1{
        bottom: 58vh;
        left: 15vw;
    }
    .img-title.title2{
        bottom: 41vh;
        left: 15vw;
    } */
}