#page{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    width: 100vw;
    justify-content: center;
}
#text-aside p{
    margin-right: 50px;
    /* transform-origin: left;
    transform: rotate(-90deg); */
}
#box-left{
    display: flex;
    flex-direction: column;
}
#box{
    display: flex;
    align-self: center;
}

img{
    display: block;
}

.portrait{
    position: relative;
}
.portrait img, .portrait-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.portrait-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.portrait-texte p{
    margin: 0;
    text-align: center;
    padding-top: 300px;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}
.portrait:hover .portrait-texte{
    opacity: 1;
}
.voyage{
    position: relative;
}
.voyage img, .voyage-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.voyage-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.voyage-texte p{
    margin: 0;
    text-align: center;
    padding-top: 147px;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}
.voyage:hover .voyage-texte{
    opacity: 1;
}
.mode{
    position: relative;
}
.mode img, .mode-texte{
    position: absolute;
    top: 0px;
    left: 0px;
}
.mode-texte{
    opacity: 0;
    color: black;
    transition: opacity 1s;
}
.mode-texte p{
    margin: 0;
    text-align: center;
    padding-top: 147px;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}
.mode:hover .mode-texte{
    opacity: 1;
}
.vlogs{

}
.courts-metrages{

}
.autres{

}
.projets-universitaires{

}
.projets-professionnels{

}
.projets-personnels{

}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes fadeout {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}