@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: black;
    color: #F2F2EF;
    font-family: Roboto, sans-serif;
    font-size: 18px;

    overflow-x: hidden;
}
header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
}
footer div{
    display: flex;
    justify-content: center;

    margin: 0 auto;

    /* position: absolute;
    bottom: 0; */
}
footer div *{
    display: flex;
    margin-left: 5.5px;
    margin-right: 5.5px;
    align-items: center;
}
header p{
    margin: 0;
}
#logo{
    max-width: 75px;
    max-height: 75px;
}
a, a:visited{
    color: #F2F2EF;
    text-decoration: none;
    margin: 0;
}

.title{
    font-size: 36px;
}
.subtitle{
    font-size: 24px;
}
.aside{
    font-size: 72px;
}
.underline{
    text-decoration: underline;
}
.italic{
    font-style: italic;
}

.button{
    width: 250px;
    height: 75px;
    border: 1px solid #F2F2EF;
    box-sizing: border-box;
    border-radius: 37.5px;
    text-align: center;
    line-height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button p{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    font-style: italic;
    line-height: normal;
    margin: 0;
}
.button:hover{
    animation: 500ms linear buttonHover;
    animation-fill-mode: forwards;
}

@keyframes buttonHover{
    from {background-color: transparent; color: #F2F2EF;}
    to {background-color: #F2F2EF; color: black;}
}

#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text-aside{
    display: flex;
    align-items: baseline;
    position: fixed;
    bottom: -15vh;
    width: 100vh;
    transform-origin: top left;
    transform: rotate(-90deg);
}
#text-aside p{
    margin-right: 50px;
}

#page-container{
    display: flex;
    flex-direction: row;
    width: 75w;
    justify-content: center;
    align-items: baseline;
}
#arrow-up{
    position: fixed;
    margin: 0;
    margin-top: 35vh;
    right: 80vw;
    top:0;
    height: 100px;
    width: 100px;
    font-size: 64px;
    text-align: center;
    border: 1px solid white;
    border-radius: 180px;
    cursor: pointer;
}
#arrow-up p{
    margin-top: 5px;
}
#page-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#content{
    display: flex;
    flex-direction: column;
}
#content img{
    margin-top: 25px;
    cursor: pointer;
}